<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../layout/head') %>
    <title>New Search</title>
  </head>
<body>
  <header id="best-books">
    Best Books!
  </header>
  <h1 class="results-bar"> Search by Author or Title</h1>
<!-- Forms and links talk to server  -->
  <div class="api-container">
  <div class="book-select">Enter a title or Author</div>
  <form action="/searches/new" method="POST">
  <fieldset>
    <input type ="text" name=search required>
    <label for="Search" id="title">Title</label>
    <input type='radio' name=search  value="title" required>
    <label for="Search">Author</label>
    <input type='radio' name=search value="author" required>
    <button type="submit" id ="api-button">Search the GoogleBooks API</button>
  </fieldset>
  </form>
</div>  
</div>
  
</body>
</html>