<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <%- include('../layout/head') %>
  </head>
  <title>Book App</title>
  <h1>Hello World!</h1>
  <p>prooooof of life</p>
</head>
<body>
  
</body>
</html>