<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
  <link href="styles/reset.css" rel="stylesheet">
  <link href="styles/base.css" rel="stylesheet">
  <link href="styles/layout.css" rel="stylesheet">
  <link href="styles/modules.css" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search for a Book</title>
</head>
<body>
  <form action="/searches/new" method="GET">
  <fieldset>
    <label for="Search">Search by Title</label>
    <input type='text' name='Search by Title'>
    <label for="Search">Search by Author</label>
    <input type='text' name='Search by Author'>
    <button type="submit">Submit</button>
  </fieldset>
  </form>
  
</body>
</html>