<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head') %>
</head>
<body>
  <h1> Results</h1>
  <!-- Put in variable here from server.js from render -->
  <ul>
    <!-- for loop here -->
    <% for(let i=0; i < bookArray.length;i++) { %>
    <li><%= bookArray[i].title %>
      <img src="<%= bookArray[i].image%>" alt="">
    </li>
    <% } %>
  </ul>
</body>
</html>