<!DOCTYPE html>
<html lang="en">
<head>
  <% -include('../../layout/head') %>
</head>
<body>
  <h1> Results</h1>
  <!-- <% Put in variable here from server.js from render -->
  <ul>
    <!-- for loop here -->
    <% for(let i=0; i< potato.length:i++) { >%
    <li>
      <!-- <h2><% potato[0].title %></h2> -->
      <img src="<%= potato[0].img_url>%" a;t="">
    </li>
    <% } %>
  </ul>
</body>
</html>